{
    AppleShowAllFiles = 1;
    ComputerViewSettings =     {
        CustomViewStyleVersion = 1;
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 1;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 514;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = name;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 1;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 514;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = name;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{53, 559}, {1097, 843}}";
        };
    };
    CopyProgressWindowLocation = "{1101, 386}";
    CreateDesktop = 0;
    DesktopViewSettings =     {
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
    };
    DisableAllAnimations = 1;
    DownloadsFolderListViewSettingsVersion = 1;
    EmptyTrashProgressWindowLocation = "{1080, 363}";
    "FK_AppCentricShowSidebar" = 1;
    "FK_StandardViewOptions2" =     {
        ColumnViewOptions =         {
            ArrangeBy = dnam;
            ColumnShowFolderArrow = 1;
            ColumnShowIcons = 1;
            ColumnWidth = 205;
            FontSize = 12;
            PreviewDisclosureState = 1;
            SharedArrangeBy = kipl;
            ShowIconThumbnails = 1;
            ShowPreview = 1;
        };
    };
    "FK_StandardViewSettings" =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 300;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = name;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = "FK_StandardViewSettings";
    };
    FXArrangeGroupViewBy = Name;
    FXAtLeastOneScreenHasBeenInHIDPI = 1;
    FXDefaultSearchScope = SCev;
    FXDesktopVolumePositions =     {
        "Blackmagic ATEM Switchers_0x1.2483bbep+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 287;
        };
        "Desktop Video Installer_0x1.23090438p+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 175;
        };
        "Macintosh HD 1_0x1.15ef9bap+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 175;
        };
        "Michael Ball Aperture 1_0x1.7f2baa5p+28" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 287;
        };
        "Michael Ball Aperture_0x1.7f2baa5p+28" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 287;
        };
        "Michael Photos_0x1.ffaffc5p+28" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 63;
        };
        "Video Assist_0x1.244561ap+29" =         {
            AnchorRelativeTo = 1;
            ScreenID = 0;
            xRelative = "-65";
            yRelative = 399;
        };
    };
    FXEnableExtensionChangeWarning = 0;
    FXEnableRemoveFromICloudDriveWarning = 0;
    FXICloudDriveDeclinedUpgrade = 0;
    FXICloudDriveDesktop = 0;
    FXICloudDriveDocuments = 0;
    FXICloudDriveEnabled = 1;
    FXICloudDriveFirstSyncDownComplete = 1;
    FXICloudLoggedIn = 1;
    FXLastSearchScope = SCev;
    "FXPreferencesWindow.Location" = "{{10, 1042}, {371, 365}}";
    FXPreferredSearchViewStyleVersion = "%00%00%00%01";
    FXPreferredViewStyle = Nlsv;
    FXQuickActionsConfigUpgradeLevel = 1;
    FXRecentFolders =     (
                {
            "file-bookmark" = {length = 896, bytes = 0x626f6f6b 80030000 00000410 30000000 ... 7c020000 00000000 };
            name = Media;
        },
                {
            "file-bookmark" = {length = 1080, bytes = 0x626f6f6b 38040000 00000410 30000000 ... 04000000 00000000 };
            name = Desktop;
        },
                {
            "file-bookmark" = {length = 956, bytes = 0x626f6f6b bc030000 00000410 30000000 ... b8020000 00000000 };
            name = "Michael Photos";
        },
                {
            "file-bookmark" = {length = 880, bytes = 0x626f6f6b 70030000 00000410 30000000 ... 04000000 00000000 };
            name = "Lexar 512";
        },
                {
            "file-bookmark" = {length = 524, bytes = 0x626f6f6b 0c020000 00000410 30000000 ... 04000000 00000000 };
            name = Applications;
        },
                {
            "file-bookmark" = {length = 1080, bytes = 0x626f6f6b 38040000 00000410 30000000 ... 04000000 00000000 };
            name = Pictures;
        },
                {
            "file-bookmark" = {length = 1080, bytes = 0x626f6f6b 38040000 00000410 30000000 ... 04000000 00000000 };
            name = Movies;
        },
                {
            "file-bookmark" = {length = 868, bytes = 0x626f6f6b 64030000 00000410 30000000 ... 04000000 00000000 };
            name = Michael;
        }
    );
    FXSidebarUpgradedToTenFourteen = 1;
    FXSidebarUpgradedToTenTen = 1;
    FXSyncExtensionToolbarItemsAutomaticallyAdded =     (
        "com.getdropbox.dropbox.garcon"
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    FavoriteTagNames =     (
        "",
        Red,
        Orange,
        Yellow,
        Green,
        Blue,
        Purple,
        Gray
    );
    ICloudViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 514;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 1;
            sortColumn = dateModified;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 514;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 1;
            sortColumn = dateModified;
            textSize = 12;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 1;
            ShowToolbar = 1;
            WindowBounds = "{{53, 574}, {1097, 843}}";
        };
    };
    "InspectorWindow.Location" = "{10, 33}";
    LastTrashState = 1;
    MeetingRoomViewSetting =     {
        CustomViewStyleVersion = 1;
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 0;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 1;
            ShowToolbar = 1;
            WindowBounds = "{{53, 559}, {1097, 843}}";
        };
    };
    "NSToolbar Configuration Browser" =     {
        "TB Default Item Identifiers" =         (
            "com.apple.finder.BACK",
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SWCH",
            "com.apple.finder.ARNG",
            "com.apple.finder.ACTN",
            "com.apple.finder.SHAR",
            "com.apple.finder.LABL",
            NSToolbarFlexibleSpaceItem,
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SRCH"
        );
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 1;
        "TB Item Identifiers" =         (
            "com.apple.finder.BACK",
            NSToolbarFlexibleSpaceItem,
            "com.apple.finder.SWCH",
            "com.apple.finder.ARNG",
            "com.apple.finder.ACTN",
            "com.apple.finder.SHAR",
            "com.apple.finder.LABL",
            NSToolbarFlexibleSpaceItem,
            NSToolbarFlexibleSpaceItem,
            "com.getdropbox.dropbox.garcon",
            "com.apple.finder.SRCH"
        );
        "TB Size Mode" = 1;
    };
    "NSWindow Frame SearchAttributeSheet" = "978 738 643 415 0 0 2560 1417 ";
    NetworkViewSettings =     {
        CustomViewStyleVersion = 1;
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 1;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 514;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            showIconPreview = 0;
            sortColumn = kind;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 1;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 514;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 0;
            sortColumn = kind;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 1;
            ShowToolbar = 1;
            WindowBounds = "{{53, 559}, {1097, 843}}";
        };
    };
    NewWindowTarget = PfDe;
    NewWindowTargetPath = "file:///Users/michael/Desktop/";
    OpenWindowForNewRemovableDisk = 0;
    "PreferencesWindow.LastSelection" = ADVD;
    QLEnableTextSelection = 1;
    RecentMoveAndCopyDestinations =     (
        "file://$HOME/Pictures/",
        "file://$HOME/Desktop/",
        "file://$HOME/Movies/",
        "file:///Volumes/Media/",
        "file:///Volumes/Media/Lecture%20Videos/Spring%202020/",
        "file://$HOME/Dropbox/",
        "file:///Volumes/Media/.Trashes/501/com~apple~CloudDocs/",
        "file://$HOME/Library/Application%20Support/Code/User/",
        "file://$HOME/Documents/misc/",
        "file://$HOME/Documents/gradescope/"
    );
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyle = Nlsv;
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchRecentsViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 1;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 592;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 0;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 1;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = dateLastOpened;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 1;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 1;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 0;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 592;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 0;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = dateLastOpened;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{73, 539}, {1097, 843}}";
        };
    };
    SearchViewSettings =     {
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 0;
            ShowToolbar = 1;
            SidebarWidthTenElevenOrLater = 190;
            WindowBounds = "{{219, 774}, {770, 436}}";
        };
    };
    ShowExternalHardDrivesOnDesktop = 1;
    ShowHardDrivesOnDesktop = 1;
    ShowMountedServersOnDesktop = 1;
    ShowPathbar = 1;
    ShowRemovableMediaOnDesktop = 1;
    ShowSidebar = 1;
    ShowStatusBar = 1;
    SidebarDevicesSectionDisclosedState = 1;
    SidebarPlacesSectionDisclosedState = 1;
    SidebarShowingSignedIntoiCloud = 1;
    SidebarShowingiCloudDesktop = 0;
    SidebarTagsSctionDisclosedState = 0;
    SidebarWidth = 189;
    SidebariCloudDriveSectionDisclosedState = 1;
    SlicesRootAttributes =     (
        kMDItemDisplayName,
        kMDItemLastUsedDate,
        kMDItemTextContent,
        kMDItemContentCreationDate,
        kMDItemFSName,
        kMDItemDateAdded,
        kMDItemFSInvisible,
        kMDItemFSContentChangeDate,
        kMDItemKind,
        "com_apple_FileExtensionAttribute",
        "com_apple_SearchSystemFilesAttribute"
    );
    StandardViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 1;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 360;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            showIconPreview = 0;
            sortColumn = name;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        GalleryViewSettings =         {
            arrangeBy = name;
            iconSize = 48;
            showIconPreview = 1;
            viewOptionsVersion = 1;
        };
        IconViewSettings =         {
            arrangeBy = none;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 64;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 1;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 360;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 0;
            sortColumn = name;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        SettingsType = StandardViewSettings;
    };
    TagsCloudSerialNumber = 32;
    TrashViewSettings =     {
        CustomViewStyleVersion = 1;
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 1;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 241;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 1;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 1;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                }
            );
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = size;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 1;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 0;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 1;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 241;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 1;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            scrollPositionX = 0;
            scrollPositionY = 0;
            showIconPreview = 0;
            sortColumn = size;
            textSize = 16;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowPathbar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 1;
            ShowTabView = 0;
            ShowToolbar = 1;
            SidebarWidthTenElevenOrLater = 147;
            WindowBounds = "{{895, 735}, {770, 436}}";
        };
    };
}
