{
    closeViewDesiredZoomFactor = "3.76724308951938";
    closeViewFarPoint = "2.287554059709821";
    closeViewHotkeysEnabled = 1;
    closeViewLastZoomDisplayID = 0;
    closeViewNearPoint = "2.287554059709821";
    closeViewPanningMode = 2;
    closeViewPressOnReleaseOff = 1;
    closeViewResizeHotKeysEnabled = 0;
    closeViewScrollWheelToggle = 1;
    closeViewTemporaryDetachEnabled = 1;
    closeViewZoomDisplayID = 0;
    closeViewZoomFactor = 1;
    closeViewZoomFollowsFocus = 0;
    closeViewZoomedIn = 1;
    grayscale = 0;
    grayscaleMigrated = 1;
    hoverTextEnabled = 1;
    hoverTextFontSize = 60;
    hoverTextIsHoveringAndVisible = 0;
    hoverTextModifier = 1;
    lastNightShiftActive = 1;
    lastNightShiftDate = 20200625;
    lastNightShiftEnabled = 0;
    lastNightShiftMode = 0;
    login = 0;
    mouseDriverCursorSize = "1.612625838926175";
    reduceTransparency = 1;
    selectedTab = 14;
    slowKey = 0;
    slowKeyDelay = 250;
    stickyKey = 0;
    useStickyKeysShortcutKeys = 0;
    voiceOverOnOffKey = 0;
    whiteOnBlack = 0;
}
